<div class="styleguide holder">
  <header class="styleguide_title">
    <h1 class="title title_medium">Styleguide - Eurodance.com.br</h1>    
  </header>

  <hr>

  <section class="blocks">
    <header>
      <h2>Headings</h2>
    </header>
    <h1>Titulo 1</h1>
    <h2>Titulo 2</h2>
    <h3>Titulo 3</h3>
    <h4>Titulo 4</h4>
    <h5>Titulo 5</h5>
    <h6>Titulo 6</h6>
  </section>

  <hr>

  <section class="blocks">
    <header>
      <h2>Copy</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>  

  <hr>

  <section class="blocks">
    <header>
      <h2>Cards</h2>
    </header>
    <%= partial "modules/home/cards" %>    
  </section>

  <hr>

  <section class="blocks">
    <header>
      <h2>Artists Header</h2>
    </header>
    <%= partial "modules/artists/description" %>    
  </section>

  <hr>

  <section class="blocks">
    <header>
      <h2>Artists Similar</h2>
    </header>
    <%= partial "modules/artists/similar" %>
  </section>

  <hr>

  <section class="blocks">
    <header>
      <h2>Artists Navigation</h2>
    </header>
    <%= partial "modules/artists/navigation" %>
  </section>

  <hr>  

  <section class="blocks">
    <header>
      <h2>Artists Mixes</h2>
    </header>
    <%= partial "modules/artists/mixes" %>
  </section>

  <hr>  

  <section class="blocks">
    <header>
      <h2>Artists Videos</h2>
    </header>
    <%= partial "modules/artists/videos" %>
  </section>

  <hr>

  <section class="blocks">
    <header>
      <h2>Artists Photos</h2>
    </header>
    <%= partial "modules/artists/photos" %>
  </section>  

  <hr>

  <section class="blocks">
    <header>
      <h2>Artists Events</h2>
    </header>
    <%= partial "modules/artists/events" %>
  </section>

  <hr>

  <section class="blocks">
    <header>
      <h2>Artists Tweets</h2>
    </header>
    <%= partial "modules/artists/tweets" %>
  </section>

  <hr>  

  <section class="blocks">
    <header>
      <h2>Artists Mp3</h2>
    </header>
    <%= partial "modules/artists/mp3" %>
  </section>  

</div>